.App {
  text-align: center;
}

.userviewTitle{
  background-color: aquamarine;  
  font-size: larger;
  height: 7vh;
}

.search {
  padding: 3vh 3vw;
  margin-bottom: 1vw;
  width: 100%;
  border: solid black;
}

.results{
  padding: 3vh 3vw;
  width: 100%;
}

.agentForm {
  display: flex;
  flex-direction: column;
}

.form-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.form-control{
  margin-left: 29vw;
}